/* boutons */
.btn {
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  color: var(--color-black);
  background-color: var(--color-primary);
  position: relative;
  white-space: nowrap;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}

@media (hover: hover) {
  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--color-primaryOpacity);
  }
}

.btn-h {
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (hover: hover) {
  .btn-h:hover {
    color: var(--color-black);
    background-color: var(--color-primary);
  }
}

/* titres */
.titre {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  font-family: var(--ff-secondary);
}

@media (min-width: 768px) {
  .titre {
    font-size: var(--fs-xxl);
  }
}

.avant-titre {
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  color: var(--color-primary);
  font-family: var(--ff-secondary);
}
