:root {
  /* couleurs */
  --color-primary: #ffc928;
  --color-primary-rgb: 255, 201, 40;
  --color-primaryOpacity: rgba(var(--color-primary-rgb), 0.38);

  --color-black: #0d0d0d;
  --color-dark: #1a1a1a;
  --color-white: #fffdfd;
  --color-text: #c7c7c7;

  /* polices */
  --bs-body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
  --ff-secondary: "Space Grotesk", system-ui, -apple-system, sans-serif;

  /* background */
  --bs-body-bg: #0d0d0d;
  --header-height: 72px;

  /* tailles */
  --fs-0: 0.7rem;
  --fs-s: 0.9rem;
  --fs-sm: 1rem;
  --fs-base: 1.3rem;
  --fs-lg: 1.4rem;
  --fs-xl: 2rem;
  --fs-xxl: 2.5rem;
  --fs-xxxl: 3.6rem;

  /* poids */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  -webkit-font-smoothing: antialiased;
}
